.error {
    color:red;
}

.inputData{
    text-align:center;
    width:80%;
    float:right;
}

.inputData input{
    margin-left:9em;
    margin-top:10px;
}

.inputData label{
    position:absolute;
    margin-top:10px;
}

.inputDataSelect {
    margin-left:9em;
    margin-bottom:3em;
    vertical-align:middle;
    
}

